# http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Set default charset
[*.{py,md,txt,json,yml}]
charset = utf-8

# 2 space indentation
[*.py]
indent_style = space
indent_size = 2
